# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# TOKEN_MINT: Contract Address for $CATBALL
TOKEN_MINT="Gx3iGhFX33cPZEGATG7qvtSH9ntLbKa8hhqj9UKTpump"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
